In [1]:
import evalml

In [2]:
import pandas as pd
df = pd.read_csv('adult.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
X = df.drop(["fnlwgt","education","marital-status","relationship","country"],axis=1)
X

,age,workclass,education-num,occupation,race,sex,capital-gain,capital-loss,hours-per-week,salary
0,39,State-gov,13,Adm-clerical,White,Male,2174,0,40,<=50K
1,50,Self-emp-not-inc,13,Exec-managerial,White,Male,0,0,13,<=50K
2,38,Private,9,Handlers-cleaners,White,Male,0,0,40,<=50K
3,53,Private,7,Handlers-cleaners,Black,Male,0,0,40,<=50K
4,28,Private,13,Prof-specialty,Black,Female,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,12,Tech-support,White,Female,0,0,38,<=50K
32557,40,Private,9,Machine-op-inspct,White,Male,0,0,40,>50K
32558,58,Private,9,Adm-clerical,White,Female,0,0,40,<=50K
32559,22,Private,9,Adm-clerical,White,Male,0,0,20,<=50K
32560,52,Self-emp-inc,9,Exec-managerial,White,Female,15024,0,40,>50K

In [4]:
X = df.drop("salary",axis=1)
y = df.salary

In [5]:
X_train, X_test, y_train, y_test = evalml.preprocessing.split_data(X, y, problem_type='binary')

In [6]:
X_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
29101,19,?,140399,Some-college,10,Never-married,?,Other-relative,White,Female,0,0,30,United-States
10606,50,Private,158284,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
9414,62,Private,183735,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
1747,20,Private,154781,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
10677,25,Private,356344,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States

In [7]:
evalml.problem_types.ProblemTypes.all_problem_types

[<ProblemTypes.BINARY: 'binary'>,
 <ProblemTypes.MULTICLASS: 'multiclass'>,
 <ProblemTypes.REGRESSION: 'regression'>,
 <ProblemTypes.TIME_SERIES_REGRESSION: 'time series regression'>,
 <ProblemTypes.TIME_SERIES_BINARY: 'time series binary'>,
 <ProblemTypes.TIME_SERIES_MULTICLASS: 'time series multiclass'>]

In [8]:
from evalml.automl import AutoMLSearch

In [9]:
automl = AutoMLSearch(X_train=X_train, y_train=y_train, problem_type='binary')

In [10]:
automl.search()

In [11]:
automl.rankings

,id,pipeline_name,search_order,mean_cv_score,standard_deviation_cv_score,validation_score,percent_better_than_baseline,high_variance_cv,parameters
0,10,XGBoost Classifier w/ Label Encoder + Select C...,10,0.284056,0.005242,0.284056,96.584957,False,"{'Label Encoder': {'positive_label': None}, 'N..."
1,6,LightGBM Classifier w/ Label Encoder + Select ...,6,0.285582,0.003548,0.285582,96.566613,False,"{'Label Encoder': {'positive_label': None}, 'N..."
2,1,Logistic Regression Classifier w/ Label Encode...,1,0.320049,0.007813,0.320049,96.152239,False,"{'Label Encoder': {'positive_label': None}, 'I..."
3,8,Elastic Net Classifier w/ Label Encoder + Sele...,8,0.320086,0.007729,0.320086,96.151791,False,"{'Label Encoder': {'positive_label': None}, 'N..."
4,3,Logistic Regression Classifier w/ Label Encode...,3,0.321416,0.008077,0.321416,96.135798,False,"{'Label Encoder': {'positive_label': None}, 'I..."
5,11,Stacked Ensemble Classification Pipeline,11,0.333065,0.005368,0.333065,95.995751,False,"{'Label Encoder': {'positive_label': None}, 'L..."
6,4,Random Forest Classifier w/ Label Encoder + Im...,4,0.337011,0.003193,0.337011,95.948310,False,"{'Label Encoder': {'positive_label': None}, 'I..."
7,2,Random Forest Classifier w/ Label Encoder + Im...,2,0.344956,0.002809,0.344956,95.852797,False,"{'Label Encoder': {'positive_label': None}, 'I..."
8,7,Extra Trees Classifier w/ Label Encoder + Sele...,7,0.379624,0.001241,0.379624,95.436000,False,"{'Label Encoder': {'positive_label': None}, 'N..."
9,5,Decision Tree Classifier w/ Label Encoder + Se...,5,0.399585,0.025356,0.399585,95.196018,False,"{'Label Encoder': {'positive_label': None}, 'N..."
10,9,CatBoost Classifier w/ Label Encoder + Select ...,9,0.566648,0.000712,0.566648,93.187512,False,"{'Label Encoder': {'positive_label': None}, 'N..."
11,0,Mode Baseline Binary Classification Pipeline,0,8.317788,0.000553,8.317788,0.000000,False,"{'Label Encoder': {'positive_label': None}, 'B..."

In [12]:
automl.best_pipeline

pipeline = BinaryClassificationPipeline(component_graph={'Label Encoder': ['Label Encoder', 'X', 'y'], 'Numeric Pipeline - Select Columns By Type Transformer': ['Select Columns By Type Transformer', 'X', 'Label Encoder.y'], 'Numeric Pipeline - Label Encoder': ['Label Encoder', 'Numeric Pipeline - Select Columns By Type Transformer.x', 'Label Encoder.y'], 'Numeric Pipeline - Imputer': ['Imputer', 'Numeric Pipeline - Select Columns By Type Transformer.x', 'Numeric Pipeline - Label Encoder.y'], 'Numeric Pipeline - Select Columns Transformer': ['Select Columns Transformer', 'Numeric Pipeline - Imputer.x', 'Numeric Pipeline - Label Encoder.y'], 'Categorical Pipeline - Select Columns Transformer': ['Select Columns Transformer', 'X', 'Label Encoder.y'], 'Categorical Pipeline - Label Encoder': ['Label Encoder', 'Categorical Pipeline - Select Columns Transformer.x', 'Label Encoder.y'], 'Categorical Pipeline - Imputer': ['Imputer', 'Categorical Pipeline - Select Columns Transformer.x', 'Categorical Pipeline - Label Encoder.y'], 'Categorical Pipeline - One Hot Encoder': ['One Hot Encoder', 'Categorical Pipeline - Imputer.x', 'Categorical Pipeline - Label Encoder.y'], 'XGBoost Classifier': ['XGBoost Classifier', 'Numeric Pipeline - Select Columns Transformer.x', 'Categorical Pipeline - One Hot Encoder.x', 'Categorical Pipeline - Label Encoder.y']}, parameters={'Label Encoder':{'positive_label': None}, 'Numeric Pipeline - Select Columns By Type Transformer':{'column_types': ['category'], 'exclude': True}, 'Numeric Pipeline - Label Encoder':{'positive_label': None}, 'Numeric Pipeline - Imputer':{'categorical_impute_strategy': 'most_frequent', 'numeric_impute_strategy': 'mean', 'categorical_fill_value': None, 'numeric_fill_value': None}, 'Numeric Pipeline - Select Columns Transformer':{'columns': ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']}, 'Categorical Pipeline - Select Columns Transformer':{'columns': ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'country']}, 'Categorical Pipeline - Label Encoder':{'positive_label': None}, 'Categorical Pipeline - Imputer':{'categorical_impute_strategy': 'most_frequent', 'numeric_impute_strategy': 'mean', 'categorical_fill_value': None, 'numeric_fill_value': None}, 'Categorical Pipeline - One Hot Encoder':{'top_n': 10, 'features_to_encode': None, 'categories': None, 'drop': 'if_binary', 'handle_unknown': 'ignore', 'handle_missing': 'error'}, 'XGBoost Classifier':{'eta': 0.1, 'max_depth': 6, 'min_child_weight': 1, 'n_estimators': 100, 'n_jobs': -1, 'eval_metric': 'logloss'}}, random_seed=0)

In [13]:
best_pipeline=automl.best_pipeline

In [14]:
automl.describe_pipeline(automl.rankings.iloc[0]["id"])

************************************************************************************************************************************************************************************************************
* XGBoost Classifier w/ Label Encoder + Select Columns By Type Transformer + Label Encoder + Imputer + Select Columns Transformer + Select Columns Transformer + Label Encoder + Imputer + One Hot Encoder *
************************************************************************************************************************************************************************************************************

Problem Type: binary
Model Family: XGBoost

Pipeline Steps
==============
1. Label Encoder
	 * positive_label : None
2. Select Columns By Type Transformer
	 * column_types : ['category']
	 * exclude : True
3. Label Encoder
	 * positive_label : None
4. Imputer
	 * categorical_impute_strategy : most_frequent
	 * numeric_impute_strategy : mean
	 * categorical_fill_value : None
	 * numeric_fill_value : None
5. Select Columns Transformer
	 * columns : ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
6. Select Columns Transformer
	 * columns : ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'country']
7. Label Encoder
	 * positive_label : None
8. Imputer
	 * categorical_impute_strategy : most_frequent
	 * numeric_impute_strategy : mean
	 * categorical_fill_value : None
	 * numeric_fill_value : None
9. One Hot Encoder
	 * top_n : 10
	 * features_to_encode : None
	 * categories : None
	 * drop : if_binary
	 * handle_unknown : ignore
	 * handle_missing : error
10. XGBoost Classifier
	 * eta : 0.1
	 * max_depth : 6
	 * min_child_weight : 1
	 * n_estimators : 100
	 * n_jobs : -1
	 * eval_metric : logloss

Training
========
Training for binary problems.
Total training time (including CV): 53.0 seconds

Cross Validation
----------------
             Log Loss Binary  MCC Binary  Gini   AUC  Precision    F1  Balanced Accuracy Binary  Accuracy Binary # Training # Validation
0                      0.280       0.634 0.853 0.927      0.729 0.721                     0.815            0.867     17,365        8,683
1                      0.282       0.637 0.854 0.927      0.664 0.728                     0.839            0.855     17,365        8,683
2                      0.290       0.625 0.844 0.922      0.701 0.717                     0.818            0.861     17,366        8,682
mean                   0.284       0.632 0.850 0.925      0.698 0.722                     0.824            0.861          -            -
std                    0.005       0.006 0.006 0.003      0.032 0.006                     0.013            0.006          -            -
coef of var            0.018       0.009 0.007 0.003      0.046 0.008                     0.016            0.007          -            -

In [15]:
best_pipeline.score(X_test, y_test, objectives=["auc","f1","Precision","Recall"])

OrderedDict([('AUC', 0.9238456568168216),
             ('F1', 0.7232406859846244),
             ('Precision', 0.6742006615214995),
             ('Recall', 0.7799744897959183)])

In [16]:
automl_auc = AutoMLSearch(X_train=X_train, y_train=y_train,
                          problem_type='binary',
                          objective='auc',
                          additional_objectives=['f1', 'precision'],
                          max_batches=1,
                          optimize_thresholds=True)

automl_auc.search()

In [17]:
automl_auc.rankings

,id,pipeline_name,search_order,mean_cv_score,standard_deviation_cv_score,validation_score,percent_better_than_baseline,high_variance_cv,parameters
0,1,Logistic Regression Classifier w/ Label Encode...,1,0.906179,0.004790,0.906179,40.617855,False,"{'Label Encoder': {'positive_label': None}, 'I..."
1,2,Random Forest Classifier w/ Label Encoder + Im...,2,0.904505,0.002899,0.904505,40.450548,False,"{'Label Encoder': {'positive_label': None}, 'I..."
2,0,Mode Baseline Binary Classification Pipeline,0,0.500000,0.000000,0.500000,0.000000,False,"{'Label Encoder': {'positive_label': None}, 'B..."

In [18]:
automl_auc.describe_pipeline(automl_auc.rankings.iloc[0]["id"])

*************************************************************************************************
* Logistic Regression Classifier w/ Label Encoder + Imputer + One Hot Encoder + Standard Scaler *
*************************************************************************************************

Problem Type: binary
Model Family: Linear

Pipeline Steps
==============
1. Label Encoder
	 * positive_label : None
2. Imputer
	 * categorical_impute_strategy : most_frequent
	 * numeric_impute_strategy : mean
	 * categorical_fill_value : None
	 * numeric_fill_value : None
3. One Hot Encoder
	 * top_n : 10
	 * features_to_encode : None
	 * categories : None
	 * drop : if_binary
	 * handle_unknown : ignore
	 * handle_missing : error
4. Standard Scaler
5. Logistic Regression Classifier
	 * penalty : l2
	 * C : 1.0
	 * n_jobs : -1
	 * multi_class : auto
	 * solver : lbfgs

Training
========
Training for binary problems.
Total training time (including CV): 41.9 seconds

Cross Validation
----------------
              AUC    F1  Precision # Training # Validation
0           0.909 0.698      0.644     17,365        8,683
1           0.909 0.690      0.598     17,365        8,683
2           0.901 0.681      0.677     17,366        8,682
mean        0.906 0.690      0.640          -            -
std         0.005 0.008      0.040          -            -
coef of var 0.005 0.012      0.063          -            -

In [19]:
best_pipeline_auc = automl_auc.best_pipeline

In [21]:
best_pipeline_auc.score(X_test, y_test,  objectives=["auc"])

OrderedDict([('AUC', 0.9002360145271455)])

In [22]:
best_pipeline.save("model.pkl")

In [23]:
check_model=automl.load('model.pkl')

In [29]:
check_model.predict_proba(X_test)

          <=50K      >50K
13077  0.612785  0.387215
25002  0.938738  0.061262
23777  0.910867  0.089133
71     0.969621  0.030379
955    0.943798  0.056202
...         ...       ...
10804  0.999611  0.000389
3976   0.766371  0.233629
15694  0.992434  0.007566
1218   0.812119  0.187881
29928  0.897735  0.102265

[6513 rows x 2 columns]